@model Clothing_Store.ViewModels.ProductViewModel

<div class="row mt-5 mb-3">
    <div class="card mb-5">
        <img src="@Model.ImageUrl" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">@Model.Id</h5>
            <p class="card-text">Price: @Model.Name</p>
            <p class="card-text">Price: @Model.Price</p>
            <p class="card-text">Price: @Model.Rating</p>
            <a href="@Url.Action("AddToCart", "Cart", new { productId = @Model.Id})" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>