@model Clothing_Store.ViewModels.ProductViewModel

<div class="container">
    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col-md-8">
            <div class="card shadow bg-body rounded">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="Images/@Model.ImageUrl" class="card-img-top" alt="Product Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">Price: $@Model.Price</p>
                            <p class="card-text">Rating: @Model.Rating</p>
                            <p class="card-text">Description: @Model.Description</p>
                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" style="background-color: #2d545e !important; color: white" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var NoProductFound = '@(TempData["NoProductFound"] as string)';

            if (NoProductFound) {
                Swal.fire({
                    title: 'Clothing Store',
                    text: NoProductFound,
                    icon: 'warning'
                }).then(function () {
                    var url = '@Url.Action("Index", "Products")';
                    window.location.href = url;
                });
            }
        });

    </script>
}