@model List<Clothing_Store.ViewModels.ProductViewModel>

<div class="container">
    <div class="row mt-5 mb-3">
        @if (Model != null && Model.Count>0)
        {
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="Images/@product.ImageUrl" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: $@product.Price</p>
                            <p class="card-text">Rating: @product.Rating</p>
                            <a href="@Url.Action("Details", "Products", new { productId = product.Id })" class="btn btn-primary" style="background-color: #2d545e !important; color: white">View Details</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
           <div></div>
        }        
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var NoProducts = '@(TempData["NoProducts"] as string)';
            var NoProductFound = '@(TempData["NoProductFound"] as string)';

            if (NoProducts) {
                Swal.fire({
                    title: 'Clothing Store',
                    text: NoProducts,
                    icon: 'warning'
                });
            }

            if (NoProductFound) {
                Swal.fire({
                    title: 'Clothing Store',
                    text: NoProductFound,
                    icon: 'warning'
                });
            }
        });
    </script>
}
